@model aspdev.repaem.Models.Data.Price

<tr>
	<td>
		@Html.HiddenFor(m => m.Id)
		@Html.EditorFor(m => m.StartTime):00
		@Html.ValidationMessageFor(m => m.StartTime)
	</td>
	<td>
		@Html.EditorFor(m => m.EndTime):00
		@Html.ValidationMessageFor(m => m.EndTime)
	</td>
	<td>
		@Html.EditorFor(m => m.Sum) грн
		@Html.ValidationMessageFor(m => m.Sum)
	</td>
	<td>
		@Html.DeleteItemLink("Удалить", Model.Id, Url.Action("DeletePrice"))
	</td>
</tr>