@model aspdev.repaem.ViewModel.RepBaseBook

@{
    ViewBag.Title = "repaem.in.ua - Заказать репетицию";
}

<h2>Заказать репетицию</h2>

@using(Html.BeginForm("Book", "RepBase")) {
    <table class="wide-form">
        <tr>
            <td class="label">@Html.LabelFor(m => m.RepBaseName)</td>
            <td class="editor">@Html.DisplayFor(m => m.RepBaseName)</td>
            <td class="validation"></td>
        </tr>
        <tr>
            <td class="label">@Html.LabelFor(m => m.RoomId)</td>
            <td class="editor">@Html.DropDownListFor(m=>m.RoomId, Model.Rooms)</td>
            <td class="validation">@Html.ValidationMessageFor(m => m.RoomId)</td>
        </tr>
        <tr>
            <td class="label">@Html.LabelFor(m => m.Date)</td>
            <td class="editor">@Html.EditorFor(m => m.Date)</td>
            <td class="validation">@Html.ValidationMessageFor(m => m.Date)</td>
        </tr>
        <tr>
            <td class="label">@Html.LabelFor(m => m.Time)</td>
            <td class="editor">@Html.RangeSliderFor(m => m.Time)</td>
            <td class="validation">@Html.ValidationMessageFor(m => m.Time)</td>
        </tr>
        <tr>
            <td class="label">@Html.LabelFor(m => m.Comment)</td>
            <td class="editor">@Html.EditorFor(m => m.Comment)</td>
            <td class="validation">@Html.ValidationMessageFor(m => m.Comment)</td>
        </tr>
        
        <tr>
            <td class="label"></td>
            <td class="editor"><input type="submit" class="green button big" value="Заказать" /></td>
            <td class="validation"></td>
        </tr>
    </table>
    @Html.HiddenFor(m => m.RepBaseId)
}