@model aspdev.repaem.ViewModel.RepBase

@{
    ViewBag.Title = "repaem.in.ua - "+Model.Name;
}
<div class="repbaseinfopage">
    <h2>@Model.Name</h2>
    <div class="imagelist vertical">
        @Html.DisplayFor(model => model.Images)
    </div>
    <div class="info">
        <p>@Html.LabelFor(m=>m.City): @Model.City</p>
        <p>@Html.LabelFor(m=>m.Address): @Model.Address</p>
        <p class="multiline">@Html.LabelFor(m=>m.Description): @Html.DisplayFor(m => m.Description)</p>
    </div>
    <div class="third">
        @Html.DisplayFor(m=>m.Map)
        @Html.Partial("SocialPanel", "1111")
        <a class="green button" href="@Url.Action("Book", new { id = Model.Id })">Заказать базу</a>
        <div class="rating">
            <input type="hidden" name="val" value="@Model.Rating"/>
            <input type="hidden" name="vote-id" value="@Model.Id"/>
        </div>
    </div>
    <div class="clear"></div>
    @Html.DisplayFor(m => m.Rooms)
</div>
@section Scripts {
    <script src="~/Scripts/custom-map.js"></script>
}

