@model aspdev.repaem.ViewModel.Calendar

<div class="fullcalendar" 
     data-room-id="@Model.RoomId" 
     data-manager-mode="@Model.ManagerMode" 
     data-add-url="@Model.AddUrl"
		 data-edit-url="@Model.EditUrl">
	
	@foreach (var c in Model.Events)
	{
	 @* формат даты под огнелис *@
		var dateStart = c.Date.AddHours(c.Time.Begin);
		var dateEnd = c.Date.AddHours(c.Time.End);
		var format = "yyyy-MM-ddThh:mm:ssZ";
	 
		<input type="hidden" data-type="event" 
		       data-begin="@dateStart.ToString(format)" 
		       data-end="@dateEnd.ToString(format)" 
		       data-status="@c.Status" 
		       data-name="@c.Name"
		       data-id="@c.Id" />
	}
</div>