@model aspdev.repaem.ViewModel.Calendar

<div id="calendar_@Model.RoomId" data-room-id="@Model.RoomId">
	@foreach (var c in Model.Events)
	{
		<input type="hidden" data-type="event" 
		       data-begin="@c.Date.ToString("yyyy-MM-dd") @c.Time.Begin:00:00" 
		       data-end="@c.Date.ToString("yyyy-MM-dd") @c.Time.End:00:00" 
		       data-status="@c.Status" 
		       data-name="@c.Name" />
	}
</div>
<script> //TODO: отображение репетиций
	$(document).ready(function() {
		$('#calendar_@Model.RoomId').fullCalendar({
			defaultView: 'agendaWeek',
			events: function(start, end, callback) {
				var events = $('#calendar_@Model.RoomId').children("input[data-type='event']").map(function() {
					var event = {};
					event.start = this.dataset.begin;
					event.end = this.dataset.end;
					event.className = this.dataset.status;
					event.title = this.dataset.name;
					event.allDay = false;
					return event;
				}).get();
				callback(events);
			},
			monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль',
				'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
			monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл',
				'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
			dayNames: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда',
				'Четверг', 'Пятница', 'Субота'],
			dayNamesShort: ['Вс', 'Пн', 'Вт', 'Ср',
				'Чт', 'Пт', 'Сб'],
			allDaySlot: false,
			firstHour: 8,
			firstDay: 1,
			slotMinutes: 60,
			defaultEventMinutes: 120,
			timeFormat: 'h:mm{ - h:mm}',
			buttonText: {
				prev: 'назад', // <
				next: 'вперед', // >
				prevYear: '&laquo;',  // <<
				nextYear: '&raquo;',  // >>
				today: 'сегодня',
				month: 'месяц',
				week: 'неделя',
				day: 'день'
			},
			axisFormat: "H:mm",
			dayClick: function(date, allDay, jsEvent, view) {
				if (!allDay) {
					var id = $('#Id').val();
					
					//var get = 'RepBase/Book/' + id + '/' + date.toJSON() + '/' + @Model.RoomId ; //+ '/' + date.getHours();
					$('<form action="/RepBase/Book" method="GET">' +
							'<input type="hidden" name="id" value="' + id + '">' +
              '<input type="hidden" name="datetime" value="' + date.toJSON() + '">' +
							'<input type="hidden" name="roomid" value="' + @Model.RoomId + '">' +
              '</form>').appendTo("body").submit();
				}
			}
		});
	});
</script>