@model aspdev.repaem.Areas.Admin.ViewModel.RepBaseEdit

	@using (Html.BeginForm())
	{
		<div class="box">
			<div class="box-head">
				<h2>Редактировать базу @Model.Name</h2>
			</div>
			<div class="form">
				<p>
					@Html.HiddenFor(m => m.Id)
				  @Html.LabelFor(m => m.Name)
				  @Html.EditorFor(m => m.Name)
          @Html.ValidationMessageFor(m => m.Name)
				<p>
				<p>
					@Html.LabelFor(m => m.Description)
					@Html.EditorFor(m => m.Description)
          @Html.ValidationMessageFor(m => m.Description)
				</p>
				<p>
					@Html.LabelFor(m => m.Map)
					@Html.EditorFor(m => m.Map)

					@Html.HiddenDoubleFor(m => m.Lat)
					@Html.HiddenDoubleFor(m => m.Long)
				</p>
				<p>
					@Html.LabelFor(m => m.CityName)
					<span id="cityName">@Html.DisplayFor(m => m.CityName)</span>
					@Html.HiddenFor(m => m.CityName)
				</p>
				<p>
					@Html.LabelFor(m => m.Address)
					@Html.EditorFor(m => m.Address)
          @Html.ValidationMessageFor(m => m.Address)
				</p>
			</div>
		</div>
		<div class="box">
			<div class="box-head">
				<h2>@Html.LabelFor(m => m.Photos)</h2>
			</div>
			<div class="table">
				@Html.EditorFor(m => m.Photos)
			</div>
		</div>
		<div class="box">
			<div class="box-head">
				<h2>@Html.LabelFor(m => m.Rooms)</h2>
			</div>
			<div class="table">
				<table>
					@Html.DisplayFor(m => m.Rooms)
				</table>
                <div class="buttons">
			        @Html.ActionLink("Создать", "Create", "Room", new { id = Model.Id }, new {@class = "button"})
		        </div>
			</div>
		</div>
		<div class="box">
			<div class="buttons">
				<input type="submit" value="Сохранить"/>
			</div>
		</div>
	}
