@model IEnumerable<aspdev.repaem.Areas.Admin.ViewModel.RepBaseListItem>

@{
    ViewBag.Title = "repaem.in.ua - Репетиционные базы";
}
<div class="css-table">
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Address)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Rating)
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.ActionLink("Карта", "Map", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Комментарии", "Index", "Comments", new { id = item.Id }, new { })
            </td>
            <td>
                @Html.ActionLink("Репетиции", "List", "Repetition", new { id = item.Id }, new { })
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id })
            </td>
            <td>
                @AjaxDeleteLink(item.Id,"\\Admin\\RepBase\\Delete")
            </td>
        </tr>
        }
    </table>
</div>
<br />
@Html.ActionLink("Добавить новую", "Add")

@helper AjaxDeleteLink(object id, string path) {
    <a href="#" data-id="@id" data-controler="@path" class="delete-item">Удалить</a>
}