@model aspdev.repaem.Areas.Admin.ViewModel.RoomEdit

	@using (Html.BeginForm())
	{
		<div class="box">
			<div class="box-head">
				<h2>Редактировать комнату @Model.Name</h2>
			</div>
			<div class="form">
				<p>
				    @Html.LabelFor(m => m.Name)
				    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
				<p>
				<p>
					@Html.LabelFor(m => m.Description)
					@Html.EditorFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description)
				</p>
			</div>
		</div>
		<div class="box">
			<div class="box-head">
				<h2>@Html.LabelFor(m => m.Photos)</h2>
			</div>
			<div class="table">
				@Html.EditorFor(m => m.Photos)
			</div>
		</div>
		<div class="box">
			<div class="box-head">
				<h2>@Html.LabelFor(m => m.Price)</h2>
			</div>
            <div class="form">
				<p>
				    @Html.LabelFor(m => m.ComplexPrice)
				    @Html.EditorFor(m => m.ComplexPrice)
                    @Html.ValidationMessageFor(m => m.ComplexPrice)
				<p>
                <p>
				    @Html.LabelFor(m => m.Price)
				    @Html.EditorFor(m => m.Price)
                    @Html.ValidationMessageFor(m => m.Price)
				<p>
            </div>
			<div class="table">
				<table>
					@Html.DisplayFor(m => m.Prices)
				</table>
                <div class="buttons">
			        @Html.ActionLink("Добавить", "CreatePrice", new { id = Model.Id }, new {@class = "button"})
		        </div>
			</div>
		</div>
		<div class="box">
			<div class="buttons">
				<input type="submit" value="Сохранить"/>
			</div>
		</div>
	}
