@model aspdev.repaem.ViewModel.RepBaseListItem


<div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>

<div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Description)
</div>

<div class="display-label">
        @Html.DisplayNameFor(model => model.Rating)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Rating)
</div>

<div class="display-label">
        @Html.DisplayNameFor(model => model.ImageSrc)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.ImageSrc)
</div>

<div class="display-label">
        @Html.DisplayNameFor(model => model.Address)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Address)
</div>